# roles/lamp/templates/mysql-custom.cnf.j2
 [mysqld]
 innodb_buffer_pool_size       = 1G
 innodb_log_file_size          = 512M
 innodb_flush_log_at_trx_commit = 2
#
 max_connections     = 200
 thread_cache_size   = 50
# 
